<div class="display-block">
    <div class="overflow-x-auto relative">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="py-3 px-6">Name</th>
            <th scope="col" class="py-3 px-6">Edit</th>
            <th scope="col" class="py-3 px-6">Delete</th>
        </tr>
        </thead>
        <tbody>
        <% @dogs.each do |dog| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <%= link_to dog.name, dog_path(dog) %>
                </th>
                <td class="py-4 px-6">
                    <%= button_to 'Edit', edit_dog_path(dog), method: 'get'%>
                </td>
                <td class="py-4 px-6">
                    <%= button_to 'Remove', dog_path(dog), method: 'delete', data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
        <% end %>
        </tbody>
        </table>

<hr>
<%= link_to "Add a New Dog", new_dog_path %>
</div>